@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for Spoonacular clone */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

h1, h2, h3 {
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    background-color: #00843c;
    color: #fff;
}
#tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    pointer-events: none;
}
button {
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #006b2d;
}